name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
      - cron: '42 5 * * 0'

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        perl:
          - '5.32'
          - '5.36'
        exclude:
          - runner: windows-latest
            perl: '5.36'


    runs-on: ${{matrix.runner}}
    name: OS ${{matrix.runner}} Perl ${{matrix.perl}}

    steps:
    - uses: actions/checkout@v2

    - name: Set up perl
      uses: shogo82148/actions-setup-perl@v1
      with:
          perl-version: ${{ matrix.perl }}
          distribution: strawberry

    - name: Regular tests
      run: |
        cpanm --notest Dist::Zilla
        dzil authordeps --missing | cpanm --notest
        dzil listdeps --author --missing | cpanm --notest
        dzil test --author --release

